<div class="lessons">
  <div class="lesson">
    <span>1. Foods and ingredients</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(33)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>2. Animals</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(34)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>3. Feelings</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(35)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>4. Shapes and colors</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(36)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>5. Working life</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(37)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>6. Law and order</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(38)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>7. Health</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(39)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>8. Military</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(40)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
</div>
