<div class="lessons">
  <div class="lesson">
    <span>1. Hello and Goodbye</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(1)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>2. People</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(2)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>3. Family</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(3)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>4. Colors</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(4)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>5. The body</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(5)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>6. The head and face</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(6)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>7. Clothes and shoes</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(7)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>8. Animals</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(8)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
</div>
