<div class="lessons">
  <div class="lesson">
    <span>1. Body shape</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(41)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>2. Feelings</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(42)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>3. Order and permission</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(43)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>4. Human Body</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(44)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>5. Honor And Admiration</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(45)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <!-- <div class="lesson">
    <span>6. Law and order</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(46)">
      <mat-icon>school</mat-icon>
    </button>
  </div> -->
</div>
