<div class="lessons">
  <div class="lesson">
    <span>1. Tools</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(25)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>2. Cooking</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(26)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>3. Business and office</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(27)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>4. Animals</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(28)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>5. Plants</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(29)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>6. Drinks</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(30)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>7. Religion</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(31)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>8. Personality</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(32)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
</div>
