<div class="lessons">
  <div class="lesson">
    <span>1. Clothes and accessories</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(9)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>2. Animals</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(10)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>3. Sports</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(11)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>4. Flowers, fruits and nuts</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(12)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>5. Emotions</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(13)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>6. Employment and occupations</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(14)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>7. Languages and grammar</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(15)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>8. City and countryside</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(16)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
</div>
