<div class="chapters">
  <div class="chapter chapter1">
    <span>A1 - Begginer</span>
    <div>
      <button mat-button [disabled]="!authService.isLoggedIn()" routerLink="chapter1">Începe</button>
      <button mat-button [disabled]="!authService.isLoggedIn()" routerLink="begginer">Creează</button>
    </div>
  </div>

  <div class="chapter chapter2">
    <span>A2 - Elementary</span>
    <div>
      <button mat-button [disabled]="!authService.isLoggedIn()" routerLink="chapter2">Începe</button>
      <button mat-button [disabled]="!authService.isLoggedIn()" routerLink="begginer">Creează</button>
    </div>
  </div>

  <div class="chapter chapter3">
    <span>B1 - Intermediate</span>
    <div>
      <button mat-button [disabled]="!authService.isLoggedIn()" routerLink="chapter3">Începe</button>
      <button mat-button [disabled]="!authService.isLoggedIn()" routerLink="begginer">Creează</button>
    </div>
  </div>

  <div class="chapter chapter4">
    <span>B2 - Upper-Intermediate</span>
    <div>
      <button mat-button [disabled]="!authService.isLoggedIn()" routerLink="chapter4">Începe</button>
      <button mat-button [disabled]="!authService.isLoggedIn()" routerLink="begginer">Creează</button>
    </div>
  </div>

  <div class="chapter chapter5">
    <span>C1 - Advanced</span>
    <div>
      <button mat-button [disabled]="!authService.isLoggedIn()" routerLink="chapter5">Începe</button>
      <button mat-button [disabled]="!authService.isLoggedIn()" routerLink="begginer">Creează</button>
    </div>
  </div>

  <div class="chapter chapter6">
    <span>C2 - Proficient</span>
    <div>
      <button mat-button [disabled]="!authService.isLoggedIn()" routerLink="chapter6">Începe</button>
      <button mat-button [disabled]="!authService.isLoggedIn()" routerLink="begginer">Creează</button>
    </div>
  </div>
</div>
