<div class="lessons">
  <div class="lesson">
    <span>1. The Animal Kingdom</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(17)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>2. Music</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(18)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>3. Fruits and nuts</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(19)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>4. Occupations</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(20)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>5. Fashion</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(21)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>6. The human body</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(22)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>7. Movie and theater</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(23)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
  <div class="lesson">
    <span>8. Education</span>
    <button mat-button class="chapter-button" (click)="openDetailPage(24)">
      <mat-icon>school</mat-icon>
    </button>
  </div>
</div>
